<footer class="footer bg-white box-shadow-large rs-footer">

  <div class="row align-items-center justify-content-center footer-content-wrapper text-center">
    <div class="footer-content text-center">
      <div class="mt-3">
        <a class="navbar-brand CP" style="margin-left: 10px;" (click)="navigateToHomePage()">
          <b>
            <span style="color: #002E6E">Result</span>
            <span style="color: #00B9F1">Square.pk</span>
          </b>
        </a>
      </div>
      <div class="mt-3 description">
        <p>Latest Academic results online at Resultsquare.pk. <br/>View latest educational results of all classes, tests, boards and universities of Pakistan.</p>
      </div>
      <div class="mt-3">
        <button class="btn btn-icon btn-2 btn-primary btn-sm facebook" (click)="openFbPage()" type="button">
          <span class="btn-inner--icon"><i class="fa fa-facebook"></i></span>
        </button>
        <button class="btn btn-icon btn-2 btn-primary btn-sm twitter" (click)="openTwitterPage()" type="button">
          <span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
        </button>
        <button class="btn btn-icon btn-2 btn-primary btn-sm youtube" (click)="openYoutubePage()" type="button">
          <span class="btn-inner--icon"><i class="fa fa-youtube"></i></span>
        </button>
      </div>
    </div>
  </div>

  <div class="row align-items-center footer-tile box-shadow-large">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="copyright text-muted footer-logo">
        &copy; {{ test | date: "yyyy" }}
        <a class="navbar-brand brand-logo CP" style="margin-left: 10px;" (click)="navigateToHomePage()">
        <span>
          <span style="color: #002E6E">Result</span>
          <span style="color: #00B9F1">Square.pk</span>
        </span>
      </a>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <ul class="nav nav-footer footer-links">
        <li class="nav-item CP">
          <a class="nav-link" [routerLink]="['/how-to-find-results']">How To Find</a>
        </li>
      </ul>
    </div>
  </div>

</footer>
