.facebook {
  background: #4267B2 !important;
  border-color: #4267B2 !important;
  width: 30px !important;
  height: 30px !important;
}

.twitter {
  background: #1DA1F2 !important;
  border-color: #1DA1F2 !important;
  width: 30px !important;
  height: 30px !important;
}

.youtube {
  background: #FF0000 !important;
  border-color: #FF0000 !important;
  width: 30px !important;
  height: 30px !important;
}
