<div>
  <div class="row">
    <div class="col-12" >
      <div class="text-center mt-4">
        <div>
          <button class="btn mt-2" [ngClass]="{'btn-success': menuItem?.key === selectedMenuItem?.key}"
                  *ngFor="let menuItem of menuItems" (click)="selectMenuItem(menuItem)">{{menuItem?.label}}</button>
        </div>
      </div>
    </div>
  </div>
  <app-results *ngIf="selectedMenuItem?.key === allEnums.HOME_MENU_ITEMS.RESULTS" [showBadgeLinks]="false" [showFilters]="false"></app-results>
  <app-date-sheets *ngIf="selectedMenuItem?.key === allEnums.HOME_MENU_ITEMS.DATE_SHEETS" [showBadgeLinks]="false" [showFilters]="false"></app-date-sheets>
  <app-model-papers *ngIf="selectedMenuItem?.key === allEnums.HOME_MENU_ITEMS.MODEL_PAPERS" [showBadgeLinks]="false" [showFilters]="false"></app-model-papers>
</div>
