<nav class="navbar navbar-expand-lg bg-white fixed-top">
    <a class="navbar-brand" style="margin-left: 10px;" [routerLink]="['']"><b><span style="color: #002E6E">Result</span><span style="color: #00B9F1">Square</span></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="header bg-gradient-primary pb-8 pt-5 pt-lg-8 d-flex align-items-center img-fluid img-center mt-5" style="min-height: 500px; max-height: 500px;">
  <!-- Mask -->
  <span class="mask"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">Class</label>
            <select name="year" class="form-control form-control-alternative">
              <option value="" disabled>Select Class</option>
              <option value="2023" >9th</option>
              <option value="2022" >10th</option>
              <option value="2021" >11th</option>
              <option value="2020" >12th</option>
              <option value="2019" >BA</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">Board</label>
            <select name="year" class="form-control form-control-alternative">
              <option value="" disabled>Select Board</option>
              <option value="2023" >BISE Lahore</option>
              <option value="2022" >BISE Gujranwala</option>
              <option value="2021" >BISE Faisalbad</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">Year</label>
            <select name="year" class="form-control form-control-alternative">
              <option value="" disabled>Select Year</option>
              <option value="2023" >2023</option>
              <option value="2022" >2022</option>
              <option value="2021" >2021</option>
              <option value="2020" >2020</option>
              <option value="2019" >2019</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">Exam Type</label>
            <select name="year" class="form-control form-control-alternative">
              <option value="" disabled>Select Exam Type</option>
              <option value="2023" >Annual</option>
              <option value="2022" >Supply</option>
            </select>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-primary">Find Your Result</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container-fluid d-flex align-items-center">
    <div class="card bg-secondary">
      <div class="card-body" style="overflow-y: scroll; max-height: 300px;">
        <div class="row mt-2">
          <div class="col-12">
            <div class="card shadow bg-secondary card-stats news-tile">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-uppercase text-primary badge badge-primary mb-0">BISE Lahore</span>
                    <p class="mb-0 text-muted text-sm">
                      <span class="text-nowrap">Result of 9th class 2020 will be announced on August 01, 2020.</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <div class="card shadow bg-secondary card-stats news-tile">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-uppercase text-primary badge badge-primary mb-0">BISE Lahore</span>
                    <p class="mb-0 text-muted text-sm">
                      <span class="text-nowrap">Result of 9th class 2020 will be announced on August 01, 2020.</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <div class="card shadow bg-secondary card-stats news-tile">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-uppercase text-primary badge badge-primary mb-0">BISE Lahore</span>
                    <p class="mb-0 text-muted text-sm">
                      <span class="text-nowrap">Result of 9th class 2020 will be announced on August 01, 2020.</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <div class="card shadow bg-secondary card-stats news-tile">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-uppercase text-primary badge badge-primary mb-0">BISE Lahore</span>
                    <p class="mb-0 text-muted text-sm">
                      <span class="text-nowrap">Result of 9th class 2020 will be announced on August 01, 2020.</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
