<nav class="navbar navbar-expand-lg bg-white">
    <a class="navbar-brand" style="margin-left: 10px;" [routerLink]="['']"><b><span style="color: #002E6E">Result</span><span style="color: #00B9F1">Square</span></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center img-center" style="min-height: 350px; max-height: 400px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-6"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Searching for Result?</h1>
        <p class="text-white mt-0 mb-5">Don't worry its just some steps ahead from you. Now you can find results of all classes and latest updates at one place.</p>
      </div>
    </div>
  </div>
</div>
