<nav class="navbar navbar-expand-lg bg-white">
    <a class="navbar-brand" style="margin-left: 10px;" [routerLink]="['']"><b><span style="color: #002E6E">Result</span><span style="color: #00B9F1">Square</span></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-6  bg-secondary border-0" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>

  </nav>
  <div class="bg-custom">
    <div class="row bg-custom" style="padding-top: 20px;">
      <div class="col-lg-2 col-xl-1 col-md-2 col-sm-3 ml-40">
       <a [routerLink]="['']" class="nav-link-custom">
        <div class="text-white text-center">
          <i class="ni ni-chart-bar-32" ></i>
        </div>
        <div class="text-muted text-sm text-center nav-item">
          Results
        </div>
       </a>
      </div>
      <div class="col-lg-2 col-xl-1 col-md-2 col-sm-3">
       <a [routerLink]="['']">
        <div class="text-white text-center">
          <i class="ni ni-paper-diploma" ></i>
        </div>
        <div class="text-muted text-sm text-center">
          Merit Lists
        </div>
       </a>
      </div>
      <div class="col-lg-2 col-xl-1 col-md-2 col-sm-3">
        <a [routerLink]="['']">
          <div class="text-white text-center">
            <i class="ni ni-single-copy-04" ></i>
          </div>
          <div class="text-muted text-sm text-center">
            Date Sheets
          </div>
        </a>
      </div>
      <div class="col-lg-2 col-xl-1 col-md-2 col-sm-3">
        <a [routerLink]="['']">
          <div class="text-white text-center">
            <i class="ni ni-book-bookmark" ></i>
          </div>
          <div class="text-muted text-sm text-center">
            Past Papers
          </div>
        </a>
      </div>
  </div>
  </div>
