<div class="card card-body bg-secondary result-info-wrapper">
  <!-- <div class="row align-items-center">
    <div>
      <span class="mb-0 h3">Find your result</span>
    </div>
  </div> -->
  <div *ngIf="panelMode === filterPanelModes?.RESULTS">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="form-control-label">Class/Test</label>
          <select name="class" class="form-control form-control-alternative" [value]="selectedClass" (change)="onClassSelected($event)">
            <option value="default" disabled>Select Class</option>
            <option [value]="cls?._id" *ngFor="let cls of classes">{{cls?.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="form-control-label">Board/University</label>
          <select name="board" class="form-control form-control-alternative" [value]="selectedBoard" (change)="onBoardSelected($event)"  [disabled]="!classSelected">
            <option value="default" disabled>Select Board</option>
            <option [value]="board?._id" *ngFor="let board of boards" >{{board?.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="form-control-label">Year</label>
          <select name="year" class="form-control form-control-alternative" [value]="selectedYear" (change)="onYearSelected($event)" [disabled]="!boardSelected">
            <option value="default" disabled>Select Year</option>
            <option [value]="year" *ngFor="let year of years" >{{year}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="form-control-label">Exam Type</label>
          <select name="examType" class="form-control form-control-alternative" [value]="selectedExamType" (change)="onExamTypeSelected($event)" [disabled]="!yearSelected">
            <option value="default" disabled>Select Exam Type</option>
            <option class="text-capitalize" [value]="et?.title" *ngFor="let et of examTypes">{{et?.title}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" #findBtn>
      <div class="col-12 text-center">
        <button class="btn btn-success" [disabled]="!classSelected || !boardSelected || !yearSelected || !examTypeSelected" type="button" (click)="findResult()">Find Your Result</button>
      </div>
    </div>
  </div>

  <div *ngIf="panelMode === filterPanelModes?.DATE_SHEETS">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="form-control-label">Class/Test</label>
          <select name="class" class="form-control form-control-alternative" [value]="selectedClass" (change)="onClassSelected($event)">
            <option value="default" disabled>Select Class</option>
            <option [value]="cls?._id" *ngFor="let cls of classes">{{cls?.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="form-control-label">Board/University</label>
          <select name="board" class="form-control form-control-alternative" [value]="selectedBoard" (change)="onBoardSelected($event)"  [disabled]="!classSelected">
            <option value="default" disabled>Select Board</option>
            <option [value]="board?._id" *ngFor="let board of boards" >{{board?.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="form-control-label">Year</label>
          <select name="year" class="form-control form-control-alternative" [value]="selectedYear" (change)="onYearSelected($event)" [disabled]="!boardSelected">
            <option value="default" disabled>Select Year</option>
            <option [value]="year" *ngFor="let year of years" >{{year}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="form-control-label">Exam Type</label>
          <select name="examType" class="form-control form-control-alternative" [value]="selectedExamType" (change)="onExamTypeSelected($event)" [disabled]="!yearSelected">
            <option value="default" disabled>Select Exam Type</option>
            <option class="text-capitalize" [value]="et?.title" *ngFor="let et of examTypes">{{et?.title}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" #findBtn>
      <div class="col-12 text-center">
        <button class="btn btn-success" [disabled]="!classSelected || !boardSelected || !yearSelected || !examTypeSelected" type="button" (click)="findDateSheet()">Find Your Date Sheet</button>
      </div>
    </div>
  </div>

  <div *ngIf="panelMode === filterPanelModes?.MODEL_PAPERS">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="form-control-label">Class/Test</label>
          <select name="class" class="form-control form-control-alternative" [value]="selectedClass" (change)="onClassSelected($event)">
            <option value="default" disabled>Select Class</option>
            <option [value]="cls?._id" *ngFor="let cls of classes">{{cls?.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="form-control-label">Board/University</label>
          <select name="board" class="form-control form-control-alternative" [value]="selectedBoard" (change)="onBoardSelected($event)"  [disabled]="!classSelected">
            <option value="default" disabled>Select Board</option>
            <option [value]="board?._id" *ngFor="let board of boards" >{{board?.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label class="form-control-label">Subject</label>
          <select name="year" class="form-control form-control-alternative" [value]="selectedSubject" (change)="onSubjectSelected($event)" [disabled]="!boardSelected">
            <option value="default" disabled>Select Subject</option>
            <option [value]="subject?.key" *ngFor="let subject of subjects" >{{subject?.label}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" #findBtn>
      <div class="col-12 text-center">
        <button class="btn btn-success" [disabled]="!classSelected || !boardSelected || !subjectSelected" type="button" (click)="findModelPaper()">Find Model Paper</button>
      </div>
    </div>
  </div>

</div>
