<div class="header align-items-center img-fluid img-center mt-5 nav-main" style="background-image: url(assets/img/theme/profile-cover-5.jpg); background-size: cover; background-position: center top;">
  <!-- Header container -->
  <div class="bg-opacity bgWrapper">
    <div class="row" style="margin-right: 15px; margin-left: 15px;">
      <!-- <div class="col-12 text-center">
        <div>
          <span class="text-white nav-heading text-uppercase">SEARCHING FOR <span class="text-success">RESULTS?</span></span>
        </div>
        <div>
        <span class="text-white text-lg text-capitalize">Now its
          <span class="text-success">Easy</span>, Lets Get <span class="text-success">Started!</span></span>
        </div>
      </div> -->
      <div class="col-lg-12 col-md-12 col-sm-12 align-items-center pl-5 pr-5 pb-5 pt-5 mt-2">
        <form>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 search-result-wrapper">

              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="form-control-label text-white">Class/Test</label>
                    <select name="class" class="form-control form-control-alternative" [value]="selectedClass" (change)="onClassSelected($event)">
                      <option value="default" disabled>Select Class</option>
                      <option [value]="cls?._id" *ngFor="let cls of classes">{{cls?.title}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="form-control-label text-white">Board/University</label>
                    <select name="board" class="form-control form-control-alternative" [value]="selectedBoard" (change)="onBoardSelected($event)"  [disabled]="!classSelected">
                      <option value="default" disabled>Select Board</option>
                      <option [value]="board?._id" *ngFor="let board of boards" >{{board?.title}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="form-control-label text-white">Year</label>
                    <select name="year" class="form-control form-control-alternative" [value]="selectedYear" (change)="onYearSelected($event)" [disabled]="!boardSelected">
                      <option value="default" disabled>Select Year</option>
                      <option [value]="year" *ngFor="let year of years" >{{year}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="form-control-label text-white">Exam Type</label>
                    <select name="examType" class="form-control form-control-alternative" [value]="selectedExamType" (change)="onExamTypeSelected($event)" [disabled]="!yearSelected">
                      <option value="default" disabled>Select Exam Type</option>
                      <option class="text-capitalize" [value]="et?.title" *ngFor="let et of examTypes">{{et?.title}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row" #findBtn>
                <div class="col-12 text-center">
                  <button class="btn btn-success" [disabled]="!classSelected || !boardSelected || !yearSelected || !examTypeSelected" type="button" (click)="findResult()">Find Your Result</button>
                </div>
              </div>

            </div>
            <div class="col-md-6 col-md-6 col-sm-12 col-xs-12 notifications-wrapper" *ngIf="news?.length">

              <div class="card notification-card">
                <div class="card-header">
                  <h5 class="h3 mb-0">News and Updates</h5>
                </div>
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush notifications-wrap" data-toggle="checklist">
                    <li class="checklist-entry list-group-item flex-column align-items-start notification-tile"
                        *ngFor="let nw of news">
                      <div class="checklist-item checklist-item-warning DF">
                        <div class="checklist-info news-tile-content">
                          <small [innerHTML]="nw?.description"></small>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

          </div>
        </form>
      </div>
      <!--    <div class="col-lg-6 col-md-6 col-sm-12 align-items-center pl-5 pr-7 nav-news-container">-->
      <!--      <div class="card bg-secondary" style="border-radius: 20px;">-->
      <!--        <div class="card-body">-->
      <!--          <h1 class="card-heading-1">-->
      <!--            SEARCHING FOR-->
      <!--          </h1>-->
      <!--          <h1 class="card-heading-2">-->
      <!--            RESULTS?-->
      <!--          </h1>-->
      <!--          <div class="row mt-2">-->
      <!--            <div class="col-12">-->
      <!--              <div class="card shadow bg-secondary card-stats news-tile">-->
      <!--                <div class="card-body">-->
      <!--                  <div class="row">-->
      <!--                    <div class="col">-->
      <!--                      <span class="text-uppercase text-primary badge badge-primary mb-0">BISE Lahore</span>-->
      <!--                      <p class="mb-0 text-muted text-sm">-->
      <!--                        <span class="text-nowrap">Result of 9th class 2020 will be announced on August 01, 2020.</span>-->
      <!--                      </p>-->
      <!--                    </div>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </div>-->
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loader">
  <ng-lottie width="120px" height="120px" [options]="loadingAnimOptions"></ng-lottie>
</div>
