<div class="header align-items-center img-fluid img-center mt-5 nav-main">
  <div class="bgWrapper" #bgWrapper>
    <div class="col-12 bgMiniWrap">
      <div class="row WP100">
        <div class="col-12">
          <div class="titleWrap">
            <span class="subTitle">Looking for {{currentPageTitle}}? Now its easy.</span>
          </div>
        </div>
      </div>
      <div class="row WP100">
        <div class="col-12">
          <app-filter-panel></app-filter-panel>
        </div>
      </div>
    </div>
  </div>
</div>
