.news-tile {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  list-style: none;
  border-bottom: 1px solid #DEDACB;
}

.bg-opacity {
  background-color: rgba(0,0,0, 0.6);
}

.responsive {
  max-width: 100%;
  height: auto;
}


.titleWrap {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subTitle {
  color: white;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 991px) {
  .subTitle {
    font-size: 18px;
  }
  .bgMiniWrap {
    max-width: 100% !important;
  }
}

.bgWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.7);
}

.bgMiniWrap {
  max-width: 80%;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

@media screen and (max-width: 768px) {
  .nav-main {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url(/assets/img/theme/profile-cover-7.jpg); background-size: cover; background-position: center top;
    // background-image: linear-gradient(331deg, rgb(0, 169, 196), rgb(57, 177, 197));
  }
}

@media screen and (min-width: 768px) {
  .nav-main {
    height: 500px;
    background-image: url(/assets/img/theme/profile-cover-7.jpg); background-size: cover; background-position: center top;
    // background-image: linear-gradient(331deg, rgb(0, 169, 196), rgb(57, 177, 197));
  }
  .search-result-wrapper {
    padding: 50px 50px;
  }
  .notifications-wrapper {
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  .notification-card {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .nav-news-container {
    display: none;
  }
  .search-result-wrapper {
    padding: 0px 0px;
  }
  .notifications-wrapper {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  .notification-card {
    width: 100%;
  }
}

@media screen and (min-width: 840px) {
  .nav-heading {
    font-size: 60px;
    font-weight: bolder;
  }
  .search-result-wrapper {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 839px) {
  .nav-heading {
    font-size: 50px;
    font-weight: bolder;
  }
  .search-result-wrapper {
    padding: 30px 20px;
  }
}

@media screen and (min-width: 992px) {
  .search-result-wrapper {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 991px) {
  .search-result-wrapper {
    padding: 30px 20px;
  }
}

.notifications-head {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.bell-icon {
  width: 30px;
  height: 30px;
  color: #1aae6f;
  background-color: rgba(147, 231, 195, 0.5);
  border-radius: 20px;
  display: block;
  text-align: center;
  margin-right: 10px;
}

.notifications-board {
  background-color: white;
  border-radius: 5px;
  border: 20px black;
  height: 100%;
}

.notifications-wrap {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.notification-tile-wrap {
  padding: 10px 30px;
}

.notification-tile {
  padding: 5px 0px !important;
}

.news-tile-content {
  // border-left: 2px solid #2dce89;
  padding: 5px;
}

.news-btn {
  margin-top: -30px;
}

.view-btn {
  margin-left: auto;
  justify-items: center;
  align-items: center;
  display: flex;
}

.alert-news {
  color: #990000;
}

.news-list {
  list-style: none;
  padding: 20px;
}

.news-header {
  padding: 15px;
}

.miniNavBar {
  background: white;
  height: 60px;
  padding: 0px 50px;

  .navItem {
    padding: 20px 10px;
    font-size: 14px;
    cursor: pointer;

    &.selected {
      color: #FFFFFF;
      background: #2dce89;

      &:hover {
        color: #FFFFFF;
      }
    }

    &:hover {
      color: #2dce89;
    }
  }
}

@media screen and (min-width: 768px) {
  .miniNavBar {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 767px) {
  .miniNavBar {
    padding: 0px 10px;
  }
}

