<div class="container-fluid main-wrapper bg-secondary">
  <div class=" order-xl-1 bg-secondary">
    <div class="bg-secondary">
      <div *ngIf="!isError">
        <div class="row mt-5">
          <div class="col-12" >
            <div>
              <h1 class="text-capitalize text-center">Educational Boards</h1>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="showFilters">
          <div class="col-12" >
            <div class="text-center mt-4">
              <div>
                <button [disabled]="isLoading" class="btn mt-2" [ngClass]="{'btn-success': prov?.key === selectedProvince?.key}" *ngFor="let prov of provinces" (click)="filterByProvince(prov)">{{prov?.label}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card shadow boards-table">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col-12">
                    <h3 class="mb-0">Educational Boards in Pakistan</h3>
                  </div>
                </div>
              </div>
              <div class="table-responsive tableWrap">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">No#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Province</th>
                    <th scope="col">Official website</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="boards">
                  <tr *ngFor="let board of filteredBoards; let i = index;">
                    <td>
                      {{i + 1}}
                    </td>
                    <td>
                      {{board.title}}
                    </td>
                    <td class="text-capitalize">
                      {{board.province}}
                    </td>
                    <td>
                      <a href="{{board.webUrl}}" target="_blank">Official Website</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer py-4">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div *ngIf="isError" class="table-responsive classes-main-container justify-content-center">
        <div class="row justify-content-center">
          <div class="bg-transparent">
            <div class="text-center">
              <ng-lottie width="300px" height="300px" [options]="errorAnimOptions"></ng-lottie>
            </div>
            <div class="text-center">
              <span class="text-lg">{{errorMsg}}</span>
            </div>
            <div class="text-center" style="margin-top: 30px;">
              <span class="btn btn-primary" (click)="retry();">Retry</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
