<div class="container-fluid bg-secondary main-wrapper" #resultPage>
  <div class=" order-xl-1 bg-secondary">
    <div class="row">
      <div class="DF pageBadges">
        <a class="badgeItem text-capitalize" [href]="hostAddress">Home</a>
        <div class="badgeItem">></div>
        <div class="badgeItem text-capitalize" [routerLink]="['/model-papers']">Model Papers</div>
        <div class="badgeItem">></div>
        <div class="badgeItem text-capitalize">{{modelPaperData?.title}}</div>
      </div>
    </div>
    <div class="bg-secondary">
      <div class="row border-2">
        <div class="col-lg-12 col-md-12">
          <div class="card border-0 bg-transparent">
            <div class="mt-5">
              <div>
                <span class="text-capitalize" *ngIf="modelPaperTitle" style="font-size: 25px; font-weight: bolder;">{{modelPaperTitle}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-body bg-secondary result-info-wrapper">
        <div class="row align-items-center">
          <div>
            <span class="mb-0 h3">Model Papers Information</span>
          </div>
        </div>
        <div class="row align-items-center result-info">
          <div class="col-lg-4 col-md-4 col-sm-12 result-info-tile">
            <div>
              <span class="h5">Class/Grade: </span>
              <span class="text-sm">{{modelPaperData?.section?.title}}</span>
            </div>
            <div>
              <span class="h5">Board: </span>
              <span class="text-sm">{{boardTitle ? boardTitle : '---' }}
                <a *ngIf="boardTitle && modelPaperData?.board?.webUrl" target="_blank" class="btn btn-link btn-sm" [href]="modelPaperData?.board?.webUrl">(Official Website)</a>
              </span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 result-info-tile">
            <div>
              <span class="h5">Subject: </span>
              <span class="text-sm">{{modelPaperData?.subject ? modelPaperData?.subject : '---'}}</span>
            </div>
            <div>
              <span class="h5">Exam type: </span>
              <span class="text-sm">{{modelPaperData?.examTypeText ? modelPaperData?.examTypeText : '---'}}</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div>
              <span class="h5">View: </span>
              <a class="btn btn-link btn-sm" [href]="modelPaperData?.viewUrl" target="_blank">View here</a>
            </div>
            <div>
              <span class="h5">Download: </span>
              <a class="btn btn-link btn-sm" [href]="modelPaperData?.downloadUrl" target="_blank">Download here</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row border-2 mt-2">
        <div class="col-lg-12 col-md-12">
          <div class="card border-0 bg-transparent">
            <div class="card-body">
              <div class="mt-4" *ngIf="modelPaperData?.description">
                <p [innerHTML]="modelPaperData?.description"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center border-5 mt-100 custom-res-pad" id="print">

        <div class="col-11 mt-100" *ngIf="!isError && !isLoading">

          <div>
            <div class="card shadow border-0 bg-secondary">
              <ngx-doc-viewer
                [viewerUrl]="modelPaperData?.viewUrl"
                [url]="modelPaperData?.downloadUrl"
                [disableContent]="'popout-hide'"
                viewer="google"
                style="width:100%;height:100vh;"></ngx-doc-viewer>
              <!--              <iframe target="_self" id="resultFrame" name="resultFrame" class="custom-iframe" [src]="url | safe" (change)="isLoading = true;" (load)="onPageLoad();"></iframe>-->
            </div>
            <div class="row viewButtons">
              <div class="DF">
                <a class="btn btn-primary btn-lg" [href]="modelPaperData?.viewUrl" target="_blank">View</a>
                <a class="btn btn-success btn-lg" [href]="modelPaperData?.downloadUrl" target="_blank">Download</a>
              </div>
            </div>
          </div>

        </div>

        <div *ngIf="isError && !isLoading" class="col-11 mt-100">
          <div class="card shadow border-0 bg-secondary error-wrapper">
            <div class="error-anim">
              <ng-lottie containerClass="largeNgLottie" [options]="errorAnimOptions"></ng-lottie>
            </div>
            <div class="col-12 text-center">
              <div style="margin-top: 30px;">
                <span>{{errorMsg}}</span>
                <span>, please keep visiting <a [routerLink]="['/']" >resultSquare.pk</a> for latest news and updates.</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isLoading" class="col-11 mt-100">
          <div class="card shadow border-0 bg-secondary error-wrapper">
            <div class="error-anim">
              <ng-lottie containerClass="smallNgLottie" [options]="dotsLoaderAnimOptions"></ng-lottie>
            </div>
            <div class="col-12 text-center">
              <div style="margin-top: 30px;">
                <span>Loading...</span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row justify-content-center border-5 mt-100 custom-comments">
        <div class="mt-100 bg-secondary border-5" style="width: 100%; padding: 0px 20px;">
          <h1>Comments</h1>
          <div>
            <form (submit)="addComment(commentForm)" #commentForm = "ngForm">
              <div class="row media align-items-center">
                <div class="col-lg-6 col-sm-12 mt-3">
                  <div class="WP100">
                    <input (input)="validateCommentName($event)" ngModel name="commentName" class="form-control form-control-alternative input-comment" placeholder="Enter your name">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 mt-3">
                  <div class="WP100">
                    <input (input)="validateCommentEmail($event)" ngModel name="commentEmail" class="form-control form-control-alternative input-comment" placeholder="Enter your email address">
                  </div>
                </div>
              </div>
              <div class="row media align-items-center">
                <div class="col-lg-12 col-sm-12 mt-3">
                  <div class="WP100">
                    <textarea (input)="validateCommentText($event)" ngModel name="commentText" class="form-control form-control-alternative input-comment" rows="3" placeholder="Write your comment"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-3 d-block text-right">
                <button class="btn btn-success submit-comment-btn"
                        [ngClass]="{'disabled': isLoading || !isValidCommentName || !isValidCommentEmail || !isValidCommentText}"
                        type="submit" >Submit Comment</button>
              </div>
            </form>
          </div>

          <div class="mt-5" *ngIf="comments">
            <div class="media mt-4" *ngFor="let comment of comments">
              <div class="icon icon-sm icon-shape bg-default text-white rounded-circle shadow">
                <span>{{comment?.name?.charAt(0)?.toUpperCase()}}</span>
              </div>
              <div class="media-body ml-2">
                <div class="card card-stats mb-4 mb-lg-0 bg-white shadow--hover">
                  <div class="card-body comment-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-success mb-0">{{comment?.name}}</h5>
                        <span class="mb-0">{{comment?.text}}</span>
                      </div>
                      <div class="col-auto">
                        <span class="text-muted text-sm" >{{comment?.createdAt | date: "mediumDate"}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div *ngIf="tags" class="row justify-content-center border-2 tags-container" >
        <div class="col-lg-12 col-md-12">
          <div class="card border-0 bg-secondary">

            <div class="card-body">
              <div class="text-muted mb-4">
                <small>Tags:</small>
              </div>
              <div class="text-muted mb-4">
                <span class="badge badge-default ml-3 custom-badge" *ngFor="let tag of tags" >{{tag}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
