.class-text{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.class-container{
    padding: 10px;
    vertical-align: middle;
}
.class-container div {
    height: 100%;
    width: 100%;
}
.classes-main-container{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}
.box h3{
    text-align:center;
      position:relative;
      top:80px;
  }
  .box {
      width:70%;
      height:200px;
      background:#FFF;
      margin:40px auto;
  }
.custom-shadow{
    box-shadow: 0px 0px 15px 0px #bbbbbb !important;
}
.custom-btn{
    width: 100%;
}
.custom-iframe {
  height: 800px;
}

@media screen and (min-width: 700px) {
  .custom-res-pad {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 700px) {
  .custom-res-pad {
    padding-left: 20px;
    padding-right: 20px;
  }
}
