
<!-- Page content -->
<div class="container-fluid mt--5 bg-secondary"  #resultPage>
  <!-- Table -->
  <div class=" order-xl-1 bg-secondary">
    <div class="bg-secondary">
      <div class="card card-body bg-secondary custom-sub-header" style="border-radius: 12px;">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-5 col-sm-12">
            <button (click)="goBack()" class="btn btn-icon btn-2 btn-success btn-sm">
              Back
            </button>
            <span class="mb-0 h3">{{selectedClass}} Result {{selectedYear}}</span>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 text-right" style="margin-top: 20px;">
              <span class="btn btn-sm badge badge-primary" *ngIf="selectedClass" >{{selectedClass}}</span>
            <span class="btn btn-sm badge badge-primary ml-1" *ngIf="selectedBoard"   >{{selectedBoard}}</span>
            <span class="btn btn-sm badge badge-primary ml-1" *ngIf="selectedYear"  >{{selectedYear}}</span>
              <span class="btn btn-sm badge badge-primary ml-1 text-capitalize" *ngIf="selectedExamType" >{{selectedExamType}}</span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center border-2 mt-5">
          <div class="col-lg-6 col-md-7 ">
            <div class="card border-0 bg-transparent">
              <div class="card-body">
                <div class="text-center">
                  <span class="text-capitalize" *ngIf="resultTitle" style="font-size: 25px; font-weight: bolder;" >{{resultTitle}}</span>
                </div>
                <div class="text-center mt-4">
                  <p class="text-sm text-muted text-capitalize" *ngIf="resultDescription">
                   {{resultDescription}}
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="row justify-content-center border-2 mt-100" *ngIf="!announced && !isError && !isLoading">
        <div class="col-12 text-center">
          <div style="margin-top: 30px;" *ngIf="resultData && resultData.announceDate">
            <span class="text-capitalize">{{resultTitle}} is not announced yet,<br/> will probably be announced on </span>
            <div class="announce-date font-weight-bold">{{announceDate}}</div>
            <div>Keep visiting <a [routerLink]="['/']" >ResultSquare</a> for Latest updates.</div>
          </div>
        </div>
      </div>

      <div *ngIf="!isError" class="row justify-content-center border-5 mt-100 custom-res-pad" id="print" >
        <div>
          <ng-lottie *ngIf="!announced && !isLoading" width="400px" height="400px" [options]="notAnnouncedAnimOptions" (animationCreated)="notAnnouncedAnimationCreated($event)"></ng-lottie>
        </div>
        <div class="col-11 mt-100" *ngIf="announced">
          <div class="row" style="padding: 30px">
            <div class="col-lg-6 col-sm-12 text-left">
              <button class="btn btn-primary btn-sm" (click)="reload()">Back To Result Page</button>
            </div>
            <div class="col-lg-6 col-sm-12 text-right">
              If not working? <button class="btn btn-outline-primary btn-sm" (click)="navigateToBoardResultPage()">Click here</button>
            </div>
          </div>
          <div class="card shadow border-0 bg-secondary">
            <iframe target="_self" id="resultFrame" name="resultFrame" class="custom-iframe" [src]="url | safe" (change)="isLoading = true;" (load)="isLoading = false;"></iframe>
          </div>
        </div>
      </div>

      <div *ngIf="isLoading" class="loader">
        <ng-lottie width="120px" height="120px" [options]="loadingAnimOptions" (animationCreated)="loadingAnimationCreated($event)"></ng-lottie>
      </div>
      <div *ngIf="isError && !isLoading" class="table-responsive classes-main-container justify-content-center">
        <div class="row justify-content-center">
          <div class="bg-transparent">
            <div class="text-center">
              <ng-lottie width="300px" height="300px" [options]="errorAnimOptions" (animationCreated)="errorAnimationCreated($event)"></ng-lottie>
            </div>
            <div class="text-center">
              <span class="text-lg">{{errorMsg}}</span>
            </div>
            <div class="text-center" style="margin-top: 30px;">
              <span class="btn btn-primary" (click)="backToHome()">Back to Home</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!isError && comments" class="row justify-content-center border-5 mt-100 custom-comments" >
        <div class="col-10 mt-100 bg-secondary border-5" style="width: 100%;">
          <h1>Comments</h1>
          <div>
            <form (submit)="addComment(commentForm)" #commentForm = "ngForm">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="assets/img/default-user.png">
                </span>
                <div class="ml-2">
                  <input (input)="validateCommentName($event)" ngModel name="commentNAme" class="form-control form-control-alternative" placeholder="Enter your name">
                </div>
              </div>
              <div class="media-body ml-2 mt-3 d-block" style="padding-left: 35px;">
                <textarea (input)="validateCommentText($event)" ngModel name="commentText" class="form-control form-control-alternative" rows="2" placeholder="Write your comment"></textarea>
              </div>
              <div class="media-body ml-2 mt-3 d-block text-right">
                <button class="btn btn-primary btn-sm" type="submit" >Add Comment</button>
              </div>
            </form>
          </div>
          <div class="mt-5">
            <div class="media mt-4 " *ngFor="let comment of comments">
              <div class="icon icon-sm icon-shape bg-default text-white rounded-circle shadow">
                <span>{{comment?.name?.charAt(0)?.toUpperCase()}}</span>
              </div>
              <div class="media-body ml-2">
                <div class="card card-stats mb-4 mb-lg-0 bg-white shadow--hover">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">@{{comment?.name}}</h5>
                        <span class="text-muted mb-0">{{comment?.text}}</span>
                      </div>
                      <div class="col-auto">
                        <span class="text-muted text-sm" >{{comment?.createdAt | date: "mediumDate"}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div *ngIf="!isError" class="row justify-content-center border-2 mt-100" >
        <div class="col-lg-5 col-md-7 ">
          <div class="card border-0 bg-secondary">

            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Tags:</small>
              </div>
              <div class="text-center text-muted mb-4">
                <span class="badge badge-default ml-3" *ngFor="let tag of tags" >{{tag}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
