<div class="header bg-custom pb-8 pt-5 pt-md-0">
 
</div>
<!-- Page content -->
<div class="container-fluid mt--7 bg-secondary">
  <!-- Table -->
  <div class=" order-xl-1 bg-secondary">
    <div class="card  shadow">
      <div class="card-header bg-secondary border-0">
        <div class="row align-items-center">
          <div class="col-3">
            <h3 class="mb-0">Enter Roll No</h3>
          </div>
          <div class="col-9 text-right">
              <a href="#!" class="btn btn-sm btn-primary" [routerLink] = "['/']" >{{selectedClass}}</a>
              <i class="ni ni-bold-right" ></i>
              <a href="#!" class="btn btn-sm btn-primary ml-1" [routerLink] = "['/result', selectedClass]"  >{{selectedBoard}}</a>
              <i class="ni ni-bold-right" ></i>
              <a href="#!" class="btn btn-sm btn-primary ml-1" [routerLink] = "['/result'+'/'+selectedClass, selectedBoardKey]" >{{selectedYear}}</a>
              <i class="ni ni-bold-right" ></i>
              <a href="#!" class="btn btn-sm btn-primary ml-1" [routerLink] = "['/result'+'/'+selectedClass+'/'+selectedBoardKey, selectedYear]" >{{selectedExamType}}</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center border-2 mt-100" >
          <div class="col-lg-6 col-md-7 ">
            <div class="card border-0">
              <div class="card-body">
                <div class="text-center">
                  <span style="font-size: 25px; font-weight: bolder;" >{{resultTitle}}</span>
                </div>               
              </div>
            </div>
          </div>
      </div>
      <div class="row justify-content-center border-2" style="padding: 50px;" >
         
        <div class="col-lg-5 col-md-7 bg-secondary" style="border-radius: 10px;">
          <div class="card bg-secondary border-0">
            <div class="card-header bg-secondary pb-5">
              <div class="text-center">
                <img src="../../../assets/img/boards/blhr.png" width="85px" height="85px" >
              </div>
              <div class="text-muted text-center mt-5 mb-3">
                <h2>
                    {{resultTitle}}
                </h2>
              </div>
             
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <form role="form" (submit)="findResult(rollNoForm)" #rollNoForm = "ngForm">
                <div class="form-group">
                  <div class="form-group">
                    <input id="input-address" name="rollNo" ngModel class="form-control form-control-alternative" placeholder="Enter your roll no" value="" type="text">
                    <span *ngIf="formError" style="color:red;" >{{errorMsg}}</span>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4" type="submit" >View Result</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="row justify-content-center border-2 mt-100" >
          <div class="col-lg-5 col-md-7 ">
            <div class="card border-0">
             
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>Tags:</small>
                </div>
                <div class="text-center text-muted mb-4">
                    <span class="badge badge-default ml-3" *ngFor="let tag of tags" >{{tag}}</span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
