<div class="header bg-custom pb-8 pt-5 pt-md-0">

</div>
<!-- Page content -->
<div class="container-fluid mt--7 bg-secondary">
  <!-- Table -->
  <div class=" order-xl-1 bg-secondary">
    <div class="card  shadow">
      <div class="card-header bg-secondary border-0">
        <div class="row align-items-center">
          <div class="col-3">
            <a [routerLink] = "['/result'+'/'+selectedClass+'/'+selectedBoardKey, selectedYear]" class="btn btn-icon btn-2 btn-primary btn-sm">
              Back
            </a>
            <span class="mb-0 h3">Result</span>
          </div>
          <div class="col-9 text-right">
              <span class="btn btn-sm badge badge-primary" [routerLink] = "['/']" >{{selectedClass}}</span>
              <span class="btn btn-sm badge badge-primary ml-1" [routerLink] = "['/result', selectedClass]"  >{{selectedBoard}}</span>
              <span class="btn btn-sm badge badge-primary ml-1" [routerLink] = "['/result'+'/'+selectedClass, selectedBoardKey]" >{{selectedYear}}</span>
              <span class="btn btn-sm badge badge-primary ml-1" [routerLink] = "['/result'+'/'+selectedClass+'/'+selectedBoardKey, selectedYear]" >{{selectedExamType}}</span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center border-2 mt-100" >
          <div class="col-lg-6 col-md-7 ">
            <div class="card border-0">
              <div class="card-body">
                <div class="text-center">
                  <span style="font-size: 25px; font-weight: bolder;" >{{resultTitle}}</span>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="row justify-content-center border-2 mt-100" >
        <div class="col-lg-9 col-md-9 ">
          <div class="card border-0 shadow">
            <iframe class="custom-iframe" [src]="resultData?.resultUrl | safe"></iframe>
          </div>
        </div>
      </div>


      <div class="row justify-content-center border-2 mt-100" >
          <div class="col-lg-5 col-md-7 ">
            <div class="card border-0">

              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>Tags:</small>
                </div>
                <div class="text-center text-muted mb-4">
                    <span class="badge badge-default ml-3" *ngFor="let tag of tags" >{{tag}}</span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
