<div class="header bg-custom pb-8 pt-5 pt-md-0">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class=" order-xl-1">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <a [routerLink] = "['/']" class="btn btn-icon btn-2 btn-primary btn-sm">
              Back
            </a>
            <span class="mb-0 h3">Select Your Board/University</span>
          </div>
          <div class="col-4 text-right">
            <span class="btn badge badge-primary btn-sm" [routerLink] = "['/']">{{selectedClass}}</span>
          </div>
        </div>
      </div>
      <div class="card-body">

          <h6 class="heading-small text-muted mb-4">Federal Boards</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md-6 class-container" *ngFor = "let board of federalBoards">
                <button type="button" class="btn btn-outline-primary custom-btn"  [routerLink] = "['/result/'+selectedClass, board.key]" >{{board.title}}</button>
              </div>
            </div>
          </div>
          <hr class="my-4" />

          <h6 class="heading-small text-muted mb-4">Punjab Boards</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md-6 class-container" *ngFor = "let board of punjabBoards">
                <button type="button" class="btn btn-outline-primary custom-btn"  [routerLink] = "['/result/'+selectedClass, board.key]" >{{board.title}}</button>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Address -->
          <h6 class="heading-small text-muted mb-4">KPK Boards</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md-6 class-container" *ngFor = "let board of kpkBoards">
                <button type="button" class="btn btn-outline-primary custom-btn" [routerLink] = "['/result/'+selectedClass, board.key]"  >{{board.title}}</button>
              </div>
            </div>
          </div>
          <hr class="my-4" />

          <h6 class="heading-small text-muted mb-4">Sindh Boards</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md-6 class-container" *ngFor = "let board of sindhBoards">
                <button type="button" class="btn btn-outline-primary custom-btn" [routerLink] = "['/result/'+selectedClass, board.key]" >{{board.title}}</button>
              </div>
            </div>
          </div>
          <hr class="my-4" />

          <h6 class="heading-small text-muted mb-4">Balochistan Boards</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md-6 class-container" *ngFor = "let board of balochBoards">
                <button type="button" class="btn btn-outline-primary custom-btn" [routerLink] = "['/result/'+selectedClass, board.key]" >{{board.title}}</button>
              </div>
            </div>
          </div>
          <hr class="my-4" />

          <h6 class="heading-small text-muted mb-4">AJK Boards</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md-6 class-container" *ngFor = "let board of ajkBoards">
                <button type="button" class="btn btn-outline-primary custom-btn" [routerLink] = "['/result/'+selectedClass, board.key]" >{{board.title}}</button>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <div *ngIf="isLoading" class="loader"></div>
      </div>
    </div>
  </div>
</div>
