.class-text{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.class-container{
    height: 150px;
    vertical-align: middle;
    padding: 10px;
}
.class-container div {
    padding-top: 35px;
    height: 100%;
    width: 100%;
}
.classes-main-container{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}
.box h3{
    text-align:center;
      position:relative;
      top:80px;
  }
  .box {
      width:70%;
      height:200px;
      background:#FFF;
      margin:40px auto;
  }
.custom-shadow{
    box-shadow: 0px 0px 15px 0px #bbbbbb !important;
  }

.text-center{
    text-align: center;
}

.result-card {
  border-radius: 15px;
  border-bottom-width: 3px;
  border-bottom-color: #2dce89;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.result-card:hover {
  border-radius: 15px;
  border-width: 1px;
  border-color: #2dce89;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-bottom-color: #2dce89;
}

.result-card:hover div button {
  background-color: #2dce89;
  color: white;
}

.result-card-pad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.result-card-main {
  padding: 5px;
}

.result-card-tile {
  padding: 5px;
}

.custom-pagination .page-number{
  display: inline-block;
  /* padding: 5px 12px; */
  background: #afffe6;
  margin: 0px 4px;
  border-radius: 25px;
}

.page-number.current{
  background: #ffffff!important;
  border: 2px solid #458873;
}

.page-number span{
  display: block;
  width: 28px;
  height: 28px;
  font-size: 18px;
  cursor: pointer;
}

.pagination-previous,.pagination-next{
  display: inline-block;
  font-weight: bold;
}
