<app-slider [title]="sliderTitle" [description]="sliderDescription"></app-slider>
<div class="container-fluid main-wrapper bg-secondary">
  <!-- Table -->
  <div class=" order-xl-1 bg-secondary">
    <div class="bg-secondary">
      <!-- <div class="card card-body bg-secondary custom-sub-header news-wrapper">
        <div class="row align-items-center text-right">
          <div>
            <span class="text text-sm text-left"></span>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="DF pageBadges">
          <a class="badgeItem" [href]="hostAddress">Home</a>
          <div class="badgeItem">></div>
          <a class="badgeItem text-capitalize" [routerLink]="['/']">{{selectedProvince}}</a>
        </div>
      </div>
      <div *ngIf="!isError">
        <div class="row mt-5">
          <div class="col-12" >
            <div>
              <h1 class="text-capitalize">{{selectedProvince}} Boards</h1>
            </div>
          </div>
        </div>
        <div class="row text-center mt-4">
          <div class="col-lg-3 col-md-4 col-sm-6 mt-3" *ngFor="let board of filteredBoards  | paginate: { itemsPerPage: 20, currentPage: selectedPageNo, totalItems: filteredBoards?.length}" >
            <div class="result-card-main card shadow-lg bg-white result-card" (click)="viewBoard(board)">
              <div class="result-card-tile text-left">
                <span class="badge text-success text-capitalize board-title">{{board?.title}}</span>
              </div>
              <div class="result-card-tile">
                <span class="board-desc text-muted" [innerHTML]="board?.shortDesc"></span>
              </div>
              <div class="result-card-tile mt-3">
                <button class="btn btn-outline-success btn-sm"  (click)="viewBoard(board)" >View More</button>
              </div>
            </div>
          </div>

          <div *ngIf="filteredBoards && filteredBoards.length === 0 && !isLoading && !isError" class="table-responsive classes-main-container justify-content-center">
            <div class="row justify-content-center">
              <div class="bg-transparent" >
                <div class="text-center">
                  <ng-lottie width="300px" height="300px" [options]="errorAnimOptions"></ng-lottie>
                </div>
                <div class="text-center">
                  <span class="text-lg">No Result Found</span>
                </div>
                <div class="text-center" style="margin-top: 30px;">
                  <span class="btn btn-primary" (click)="retry()">Clear Filters</span>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="mt-5">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <pagination-controls class="pagination" (pageChange)="selectedPageNo = $event"></pagination-controls>
            </ul>
          </nav>

        </div>

      </div>
      <div *ngIf="isError" class="table-responsive classes-main-container justify-content-center">
        <div class="row justify-content-center">
          <div class="bg-transparent">
            <div class="text-center">
              <ng-lottie width="300px" height="300px" [options]="errorAnimOptions"></ng-lottie>
            </div>
            <div class="text-center">
              <span class="text-lg">{{errorMsg}}</span>
            </div>
            <div class="text-center" style="margin-top: 30px;">
              <span class="btn btn-primary" (click)="retry();">Retry</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

